@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans&display=swap");
html {
  font-size: 62.5%;
}

body {
  width: 99vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("img/nBackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

section {
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  font-size: 5rem;
  color: #545479;
  background-color: #4BD2CB;
  padding: 0.5rem;
  border-radius: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 4%;
  font-size: 3rem;
  color: #545479;
}

nav #nav__logo {
  width: 10rem;
}

nav #nav__logo img {
  width: 100%;
}

nav #nav__sections {
  list-style: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav #nav__sections li {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  padding-left: 10rem;
}

nav #nav__sections li:hover {
  color: whitesmoke;
  cursor: pointer;
}

#home {
  margin-left: 10%;
  margin-bottom: 10%;
}

#home__title {
  font-size: 6rem;
  font-weight: normal;
  color: #3f3f5b;
}

#home .button {
  height: 5rem;
  width: 15rem;
  margin-right: 3rem;
  border: 3px solid #4BD2CB;
  background: #3CABA5;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

#home .button:hover {
  background: #359893;
  border-color: #5fd7d1;
}

#howitworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
}

#howitworks__img {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#howitworks__img img {
  width: 80%;
}

#howitworks__textblock {
  height: 100%;
  width: 50%;
}

#howitworks__textblock h2 {
  text-align: right;
}

#howitworks__textblock p {
  padding-left: 20%;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

#proposal {
  position: relative;
  height: 80vh;
}

#proposal h2 {
  position: absolute;
  left: 2rem;
}

@media screen and (min-width: 700px) {
  #proposal h2 {
    padding-right: 10%;
  }
}

#proposal__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7.5rem;
  width: 100%;
  height: 90%;
  background-color: #009DF8;
  border-radius: 50px;
  z-index: -1;
}

#proposal__container #line {
  content: "";
  position: absolute;
  left: 33%;
  top: 20%;
  width: 2px;
  height: 60%;
  background-color: #79ceff;
}

#proposal__container::after {
  content: "";
  position: absolute;
  left: 66%;
  top: 20%;
  width: 2px;
  height: 60%;
  background-color: #79ceff;
}

#proposal__container .item {
  width: 33%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#proposal__container .item img {
  width: 10rem;
}

#proposal__container .item h3 {
  font-size: 3rem;
  color: #545479;
}

#proposal__container .item p {
  font-size: 2rem;
  color: #545479;
}

#pricing {
  height: 80vh;
}

#pricing h2 {
  text-align: right;
}

@media screen and (min-width: 700px) {
  #pricing h2 {
    margin-left: 40%;
  }
}

#pricing__pricescont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-top: 6%;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  height: 80%;
}

#pricing__pricescont::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 100%;
  height: 5px;
  opacity: 0.3;
  background-color: #3CABA5;
  z-index: -1;
}

#pricing__pricescont #recommended {
  width: 29.8rem;
  height: 47.9rem;
  position: relative;
  background-color: rgba(0, 157, 248, 0.3);
  bottom: 5%;
  right: 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pricing__pricescont #recommended:hover {
  background-color: rgba(0, 157, 248, 0.6);
}

#pricing__pricescont .pricing__pricescont__item {
  width: 26.9rem;
  height: 41.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #545479;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 157, 248, 0.2);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pricing__pricescont .pricing__pricescont__item:hover {
  background-color: rgba(0, 157, 248, 0.6);
}

#pricing__pricescont .pricing__pricescont__item h3 {
  font-size: 2rem;
}

#pricing__pricescont .pricing__pricescont__item h4 {
  font-size: 3rem;
}

#pricing__pricescont .pricing__pricescont__item h4 .price {
  font-size: 8rem;
  color: #3CABA5;
}

#pricing__pricescont .pricing__pricescont__item button {
  width: 13rem;
  height: 5rem;
  background-color: #3CABA5;
  border: 1px solid #43bdb7;
  font-size: 2rem;
  color: whitesmoke;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

#pricing__pricescont .pricing__pricescont__item button:hover {
  background-color: #2f8581;
}

#contact {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  margin-bottom: 6%;
}

#contact h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media screen and (min-width: 700px) {
  #contact h2 {
    margin-right: 30%;
  }
}

#contact__left {
  width: 100%;
  height: 100%;
  text-align: center;
}

#contact__left h3 {
  font-size: 1.75rem;
  font-family: "Open Sans", sans-serif;
  color: #545479;
}

#contact__left h4 {
  margin-top: 20%;
  font-size: 3rem;
  position: relative;
  color: #545479;
}

#contact__left h4 .fa-at {
  color: #009DF8;
}

#contact__left h4 .fa-mobile-alt {
  color: #009DF8;
}

#contact__left .fas {
  margin-right: 10%;
  position: absolute;
  left: 15rem;
}

#contact__right {
  width: 100%;
  height: 100%;
  position: relative;
}

#contact__right form {
  position: absolute;
  top: 10%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact__right form label {
  font-size: 2rem;
  margin-bottom: 2%;
  color: #545479;
  font-family: "Open Sans", sans-serif;
}

#contact__right form .input, #contact__right form #message {
  border-radius: 5px;
  border: 2px dashed #009DF8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 3%;
  font-size: 2rem;
}

#contact__right form .input:hover, #contact__right form #message:hover {
  border: 2px solid #009DF8;
}

#contact__right form .input:focus, #contact__right form #message:focus {
  border: 2px solid #009DF8;
}

#contact__right form .input {
  margin-bottom: 6%;
  height: 4rem;
}

#contact__right form div button {
  margin-top: 1.5rem;
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #009DF8;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}

#contact__right form div button .fa-paper-plane {
  padding-left: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#contact__right form div button:hover .fa-paper-plane {
  color: #b5b5b5;
}

#contact__right form div span {
  padding-left: 25px;
  font-size: 1.35rem;
  color: #3CABA5;
  display: none;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 51%;
  }
  h2 {
    margin-top: 5%;
  }
  #home {
    margin-bottom: inherit;
  }
  #pricing__pricescont {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  #contact__left .fas {
    left: 6rem;
  }
  #contact__right form {
    top: 0;
    left: 5rem;
  }
}

@media screen and (max-width: 890px) {
  html {
    font-size: 45%;
  }
  h2 {
    margin-top: 2%;
  }
  nav #nav__sections li {
    padding-left: 5rem;
  }
  #home {
    margin-top: 0;
    position: relative;
    top: -3rem;
    margin-left: 5%;
  }
  #home .button {
    height: 7rem;
    width: 22rem;
    font-size: 2.3rem;
  }
  #howitworks {
    margin-top: 10rem;
    min-height: 40vh;
  }
  #howitworks__textblock {
    width: 70%;
  }
  #howitworks__img {
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    margin-top: 20rem;
  }
  #pricing, #contact, #proposal {
    height: 50vh;
  }
  #pricing {
    margin-top: 2rem;
  }
  #contact__left .fas {
    position: initial;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 35%;
  }
  nav {
    display: none;
  }
  section {
    margin-bottom: 20%;
  }
  h2 {
    text-align: center !important;
  }
  #background {
    background: url("./img/MobileBack2.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  #howitworks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  #howitworks__textblock {
    width: 100%;
  }
  #howitworks__textblock p {
    padding-left: 0;
    text-align: center;
  }
  #howitworks__img {
    width: 100%;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    margin-top: 3rem;
  }
  #howitworks__img img {
    width: 100%;
  }
  #proposal {
    height: 75vh;
  }
  #proposal h2 {
    position: static;
  }
  #proposal__container {
    height: 75vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #proposal__container .item {
    width: 90%;
    margin-top: 2rem;
  }
  #proposal__container .item img {
    width: 35px;
  }
  #proposal__container #line {
    display: none;
  }
  #proposal__container::after {
    display: none;
  }
  #pricing {
    height: 110vh;
  }
  #pricing__pricescont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    row-gap: 2rem;
  }
  #pricing__pricescont .pricing__pricescont__item {
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 1.20rem;
  }
  #pricing__pricescont #recommended {
    position: static;
  }
  #pricing__pricescont::after {
    height: 100%;
    width: 5px;
    top: 10%;
    left: 50%;
    opacity: 0.1;
  }
  #contact {
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr 1.5fr;
        grid-template-rows: auto 1fr 1.5fr;
  }
  #contact__right {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #contact__right form {
    width: 90%;
    left: 2rem;
  }
  #contact__right form div button {
    width: 100%;
    height: 8rem;
    font-size: 3rem;
  }
}

@media screen and (max-height: 480px) {
  html {
    font-size: 25%;
  }
  #howitworks {
    margin-top: 20rem;
  }
  #pricing, #contact {
    height: 65vh;
  }
  #contact__right form div button {
    width: 23rem;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */